@page "/characters/{characterId:int}"
@inject PlayerCharacterService CharService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation
@attribute [Authorize(Policy = "HasDiscordId")]
@inject UserState UserState
@rendermode InteractiveServer


@if (Char != null)
{
    <Modal Title="Roll" id="rollDialog">
        <div class=p-3>
            <RollMenu Character="@Char" />
        </div>
    </Modal>


	<Modal Title="Edit Character" id="editCharacterDialog">
	    <div class=p-3>
			<CharacterCRUD Character="@Char"/>
	    </div>
	</Modal>
    
            
    <div class="disable-dbl-tap-zoom container mt-4 vh-100" style="overflow: auto">
        <div class="w-100 p-2 d-flex">
            <div class="d-flex flex-row w-100">
                <div class="flex-grow-1">
                    <span class="fs-2">
                        @Char.Name

                <button onClick="editCharacterDialog.showModal()" style="color:var(--accent)">
				 <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
					  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
					</svg>
                </button>
                    </span>
                    <div>
                        Level @Char.StatBlock?.Level
                    </div>
                </div>

                <a onClick="rollDialog.showModal()" class="float-right btn btn-primary p-2 rounded-3 d-flex justify-content-center">
                    <svg
                        width="50"
                        height="45"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        class="bi bi-dice-5-fill m-auto"
                        viewBox="0 0 16 16">
                        <path d="M3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3zm2.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M12 13.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3M5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M8 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
                    </svg>
                </a>
            </div>
        </div>
        
        <div class="d-flex flex-wrap gap-1" style="text-size: 10px">
            @if (Char?.StatBlock?.Stats != null)
            {
                <StatBlock Stats="@Char.StatBlock?.Stats" />
            }
        </div>
        <!-- Stats -->
        @if (Char?.Gauges != null)
        {
            <!-- Globes -->
            <div class="d-flex gap-2 m-auto" style="max-width: 60%">
                @foreach (var gauge in Char.Gauges)
                {
                    @if (!(gauge?.Max == 0 && gauge?.Value == 0))
                    {
                        <GaugeDisplay GaugeInstance="@gauge" ChangedCallback="@GaugeChangedCallback"/>
                    }
                            
                }
            </div>
        }
        <div class="">
            <div class="flex-grow-2 flex-row flex-wrap">
                @if (Char?.StatBlock?.Hunger != null && Char?.StatBlock?.Hunger != 0)
                {
                    <div class="card flex-fill">
                        <div class="card-header">Hunger:</div>
                        <div class="card-body fs-7">
                            <span>
                                @Char.StatBlock?.Hunger / 10
                            </span>
                            <br />
                            <span class="d-none d-md-inline">
                                <CharBar Repeat="@(Char.StatBlock?.Hunger ?? 10)" Icon="🍖" />
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>


        <div class="d-flex flex-wrap">
            <div class="flex-row flex-grow-1">
                <div class="flex-fill">
                    <DescriptableList Name="Inventory" Descriptables="@(Char.Inventory.Cast<IDescriptable>())" />
                </div>
                <div class="flex-fill">
                    <DescriptableList Name="Spells" Descriptables="@(Char.Spells.Cast<IDescriptable>())" />
                </div>
            </div>
        </div>
        <br>
        @if(Char.Rolls != null) {
            <div class="d-flex flex-wrap">
                <div class="flex-grow-1 card">
                    <div class="card-header">
                        <span class="d-flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-dice-6-fill m-auto" viewBox="0 0 16 16">
                              <path d="M3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3zm1 5.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m8 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m1.5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M12 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3M5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M4 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                            </svg>
                            Rolls
                             <div class="flex-grow-1"> </div>
                            (@Char.Rolls.Count())
                        </span>
                    </div>
                    <div class="flex-fill card-body p-2 w-100" style="max-height: 10em; overflow: auto;">

                        <table class="table spaced">
                            <tbody>
                                @foreach (RollResult roll in Char.Rolls.OrderBy(r => r.Timestamp))
                                {
                                    <tr>
                                       <td class="text-muted">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                                              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                                            </svg>
                                            @roll.Timestamp?.ToString("HH:mm")
                                        </td>

                                        <td>

                                            <svg
                                                width="1em"
                                                height="1em"
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="currentColor"
                                                class="bi bi-dice-5-fill m-auto"
                                                viewBox="0 0 16 16">
                                                <path d="M3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3zm2.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M12 13.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3M5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M8 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
                                            </svg>
                                            @roll.Result
                                        </td>

                                        
                                    </tr>
                                }
                            </tbody>
                        </table>


                    
                    </div>
                </div>
            </div>
        }
        
        <!-- Quick and dirty margin at the bottom if scrolling -->
        <br>
        <br>
    </div>
}
else
{
    <h1>Either this character doesn't exist or you don't have access</h1>
}

@code
{
    PlayerCharacter? Char;

    [Parameter] public int CharacterId { get; set; }

    public async Task GaugeChangedCallback(Gauge gauge)
    {
        if (gauge.Id == Guid.Empty)
            gauge.Id = Guid.NewGuid();


        <!-- Console.WriteLine($"Gauges: {Char.Gauges.Count()}"); -->


        <!-- await CharService.UpdateGaugeAsync(gauge); -->
        await CharService.UpdateGaugeAsync(gauge);
        <!-- Console.WriteLine($"Gauges: {Char.Gauges.Count()}"); -->
        
    }


    protected async override Task OnInitializedAsync()
    {
        var character = await CharService.GetByIdAsync(CharacterId);



        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        var discordId = user.FindFirst("discord_id")?.Value ?? "Not logged in";

        // Only present the user with data if they are the character's owner
        // (this is only safe because I'm using serverside blazor)
        if (character?.UserId == discordId)
        {
            UserState.SelectedCharacter = character;
            Char = character;


            if (character.Gauges?.Count == 0 && character.StatBlock?.MaxHealth != null)
            {
                var newGauge = new Gauge {
                    Id = Guid.NewGuid(),
                    PlayerCharacterId = Char.Id,
                    Name = "Health",
                    Max = character.StatBlock?.MaxHealth ?? 0,
                    Value = character.StatBlock?.CurrentHealth ?? character.StatBlock?.MaxHealth ?? 0,
                };
        
                character.Gauges.Add(newGauge);

                <!-- Console.WriteLine($"New gauge {newGauge.Id} {newGauge.Name}"); -->
            }

            
        }
        else
        {
            Navigation.NavigateTo("/forbidden");
        }
    }
}
